<div class="container text-center">
    <div class="container">
        <div class="container">
            <%= link_to root_path do %>
            <%= icon('fas', 'chevron-left') %>
            <% end %>
        </div>

        <div class="container">
          <h2><%= @cocktail.name %></h2>
          <% if user_signed_in? && policy(Cocktail).destroy? %>
            <p>(<%= @cocktail.user.email %>)</p>
            <%= link_to cocktail_path(@cocktail),
              method: :delete,
              data: { confirm: "Delete cocktail '#{@cocktail.name}'?"} do %>
              Delete
            <% end %>
          <% end %>
        </div>

        <div class="container">
        <%= cl_image_tag @cocktail.photo, height: 200 %>
        </div>
        <!-- button for add/edit image -->
    </div>

    <!-- Doses info container -->
    <div class="container">
        <% if user_signed_in? && (current_user.cocktails.include?(@cocktail) || current_user.admin?) %>
          <%= link_to new_cocktail_dose_path(@cocktail) do %>
            <%= icon('fas', 'plus') %> Add dose
          <% end %>
        <% end %>
        <hr>
        <div class="doses-list">
            <ul>
                <% @doses.each do |dose| %>
                  <li>
                      <%= dose.description.strip %>
                      of
                      <%= dose.ingredient.name %>
                      <% if user_signed_in? && (current_user.cocktails.include?(@cocktail) || current_user.admin?) %>
                        <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
                          <%= icon('fas', 'trash') %>
                        <% end %>
                      <% end %>
                  </li>
                <% end %>
            </ul>
        </div>
        <hr>
    </div>
    <!-- Above are all about doses -->



    <div class="container">
      <h4 id="reviews-count">
        <%= pluralize @cocktail.reviews.size, "review" %>
      </h4>

      <div id="cocktail-reviews">
        <% if @cocktail.reviews.blank? %>
          <p id="zero-reviews-placeholder">
            Be the first to leave a review for <%= @cocktail.name %>!
          </p>
        <% else %>
          <% @cocktail.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>

      <!-- Only logged in users can leave comments -->
      <% if user_signed_in? %>
        <div id="new-review" class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <%= render 'reviews/form', cocktail: @cocktail, review: @review %>
        </div>
      <% end %>
      <!-- ### -->
      </div>

</div>
