<div class="container text-center">
    <div class="container">
        <div class="container">
            <%= link_to root_path do %>
            <%= icon('fas', 'chevron-left') %>
            <% end %>
        </div>
        <h2><%= @cocktail.name %></h2>
        <%= cl_image_tag @cocktail.photo, height: 200 %>
        <!-- button for add/edit image -->
        <% if policy(Cocktail).destroy? %>
        <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Delete cocktail '#{@cocktail.name}'?"} do %>
        <%= icon('fas', 'trash') %>
        <% end %>
        <% end %>
    </div>
    <div class="container">
        <% if current_user.cocktails.include?(@cocktail) %>
        <%= link_to new_cocktail_dose_path(@cocktail) do %>
        <%= icon('fas', 'plus') %> Add dose
        <% end %>
        <% end %>
        <hr>
        <div class="doses-list">
            <ul>
                <% @doses.each do |dose| %>
                <li>
                    <%= dose.description.strip %>
                    of
                    <%= dose.ingredient.name %>
                    <% if current_user.cocktails.include?(@cocktail) %>
                    <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
                    <%= icon('fas', 'trash') %>
                    <% end %>
                    <% end %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
